.header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: var(--color-background-header);
    padding: 20px 0;

    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo
    &__logo {
        img {
            @media (max-width: $mobile) {
                width: 120px;
            }
        }

        z-index: 1;
    }

    // .header__nav
    &__nav {
        @media (max-width: $mobileSmall) {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            left: -100%;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left .3s,visibility .3s, opacity .3s;
            overflow: auto;
            text-transform: capitalize;

            ::before {
                content: "";
                position: fixed;
                z-index: 2;
                background-color: var(--color-background-header);
                width: 100%;
                height: 68px;
                inset: 0;
            }

            &_active {
                display: block;
                visibility: visible;
                opacity: 1;
                left: 0px;
            }
        }

    }

    // .header__menu
    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        font: var(--text-a-font);
        color: var(--color-font-accent);

        @media(max-width: $mobileSmall) {
            flex-direction: column;
        }
    }

    // .header__burger
    &__burger {
        position: relative;
        background-color: initial;
        min-height: 30px;
        width: 40px;
        z-index: 1;
        
        @media(min-width: $mobileSmall) {
            display: none;
        }
        &::after,
        &::before {
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: var(--color-background-white);
        }
        &::before {
            content: "";
            top: 0;
            left: 0;
            background-color: var(--color-background-white);
        }
        &::after {
            content: "";
            bottom: 0;
            left: 0;
            background-color: var(--color-background-white);
        }
        &_active::before{
            transform-origin: -4px -4px;
            transform: rotate(45deg);
        }
        &_active::after{
            transform: rotate(-45deg);
            transform-origin: 0px 10px;
        }
        &_active .header__line{
            display: none;
        }
    }
    &__line{
        position: absolute;
        inset: 14px 0px;
        width: 40px;
        height: 3px;
        background-color: var(--color-background-white);
    }
    // .header__item
    &__item {
        display: flex;
        align-items: center;
        position: relative;

        &:not(:last-child):after {
            content: "";
            right: -12px;
            position: absolute;
            width: 1px;
            height: 29px;
            background-color: var(--color-font-accent);

            @media(max-width: $mobileSmall) {
                content: none;
            }
        }

    }

    // .header__link
    &__link {
        &:hover {
            transition: transform 0.3s;
            transform: scale(1.05);
        }

        &:focus-visible {
            border-radius: 2px;
            outline: 2px solid white;
            outline-offset: 4px;
        }
    }
}