.slogan {
    padding: 128px 0px;
    text-align: center;
    color: var(--color-font-accent);
    background: black url("../img/hero/hero.jpg") 50%/cover;
    font: var(--text-hero-font);
    // .slogan__container
    &__container {
    }

    // .slogan__text

    &__text {
    }
}